<h1>New ingredient</h1>

<form id="new-ingredient" name="ingredient">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Ingredient" />
  </div>

</form>

<a href="#/index">Back</a>